.form{
    text-align: center;
    margin-top: 20px;
}

.formTextInput{
    padding: 7px 5px;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
}

.secondInput{
    margin-left: 10px;
}

.formButton{
    margin-top: 10px;
    padding: 6px 15px;
    background: rgb(103,34,128);
    background: linear-gradient(90deg, rgba(103,34,128,1) 0%, rgba(166,38,211,1) 100%);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.imgWrapper{
    display: flex;
    justify-content: center;
    padding: 0 10px;
    position: relative;

    h1{
        position: absolute;
        color: #fff;
        font-family: 'Impact', sans-serif;
        -webkit-text-stroke: 1px black; 
        font-size: 50px;
    }
}

.topText{
    top: 30px;
    margin: auto;
}

.bottomText{
    bottom: 40px;
    margin: auto;
}

.memeImg{
    max-width: 500px;
    margin: 20px 0;
}