.form{
    text-align: center;
    margin-top: 20px;
}

.formTextInput{
    padding: 7px 5px;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
}

.secondInput{
    margin-left: 10px;
}

.formButton{
    margin-top: 10px;
    padding: 6px 15px;
    background: rgb(103,34,128);
    background: linear-gradient(90deg, rgba(103,34,128,1) 0%, rgba(166,38,211,1) 100%);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.memeImg{
    width: 100vw;
    margin-top: 20px;
}